.recent-activity{
    display: flex;
    flex-direction: column;
    width: 27%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    height: 650px;
}

.fa-bell{
    color: white;

}

.header-box{
    height: 50px;
    /* background-image: linear-gradient(to right, #002767 , #134492, #2e5daa); */
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    color: black;
    font-weight: bold;

}
.body-box{
    height: 600px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding-top: 10px;
}

.entry{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.time{
    width: 25%;
    height: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.6);
 
}
#space-holder{
    width: 20px;
}
/* #103c74 */

.circle-holder{
    width: 17%;
}

.dot{
    width: 40px;
    height: 40px;
    background-color: #103c74;
    border-radius: 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 58%;
    height: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.alert-top{
    font-size: 16px;
    font-weight: bold;
}

.alert-bottom{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}